<section id="enorganico-carta-whyus" class="enorganico enorganico-carta-whyus py-[5rem]! bg-[#F0EEEA]!">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-2xl! md:text-5xl! font-black! uppercase text-(--enorganico-primary-color)!">¿Por que Elegirnos?</h1>
        <p class="text-base w-[80%]! w-md-50 m-auto">Una experiencia pensada para quienes valoran la calidad, los detalles y los sabores auténticos en cada elección.</p>
      </div>
    </div>
    <div class="row gap-0 gap-md-4 text-center flex justify-center pt-20!">
      <div class="col-6 mt-3 mt-md-0 offset-md-0 col-md-3">
        <div class="card-whyus text-center shadow-sm p-4 rounded bg-white!">
          <img src="/web/image/1742-3dcf4eb2/enoricon-30.svg" alt="enoricon-cafe-de-especialidad" class="w-auto h-[50px]! object-cover onject-center m-auto my-3" />
          <div class="text">
            <p><strong>Café de especialidad</strong></p>
            <p>Granos de origen cuidadosamente seleccionados y preparados para resaltar sus perfiles únicos.</p>
          </div>
        </div>
      </div>
      <div class="col-6 mt-3 mt-md-0 offset-md-0 col-md-3">
        <div class="card-whyus text-center shadow-sm p-4 rounded bg-white!">
          <img src="/web/image/1747-4c516d04/enoricon-115.svg" alt="enoricon-matcha-de-calidad" class="w-auto h-[50px]! object-cover onject-center m-auto my-3" />
          <div class="text">
            <p><strong>Matcha de calidad superior</strong></p>
            <p>Bebidas equilibradas, suaves y llenas de carácter, elaboradas con matcha seleccionado.</p>
          </div>
        </div>
      </div>
      <div class="col-6 mt-3 mt-md-0 offset-md-0 col-md-3">
        <div class="card-whyus text-center shadow-sm p-4 rounded bg-white!">
          <img src="/web/image/1746-aa87e9df/enoricon-100.svg" alt="enoricon-panaderia-artesanal" class="w-auto h-[50px]! object-cover onject-center m-auto my-3" />
          <div class="text">
            <p><strong>Panadería artesanal</strong></p>
            <p>Piezas horneadas con dedicación, ideales para acompañar cada sorbo. <br /><br /></p>
          </div>
        </div>
      </div>
      <div class="col-6 mt-3 mt-md-0 offset-md-0 col-md-3">
        <div class="card-whyus text-center shadow-sm p-4 rounded bg-white!">
          <img src="/web/image/1745-e6793e78/enoricon-85.svg" alt="enoricon-ingredientes-naturales" class="w-auto h-[50px]! object-cover onject-center m-auto my-3" />
          <div class="text">
            <p><strong>Ingredientes naturales</strong></p>
            <p>Priorizamos insumos frescos y de calidad, respetando el sabor real de cada producto.</p>
          </div>
        </div>
      </div>
      <div class="col-6 mt-3 mt-md-0 offset-md-0 col-md-3">
        <div class="card-whyus text-center shadow-sm p-4 rounded bg-white!">
          <img src="/web/image/1743-1054cfe5/enoricon-66.svg" alt="enoricon-variedad" class="w-auto h-[50px]! object-cover onject-center m-auto my-3" />
          <div class="text">
            <p><strong>Variedad para <br /> cada momento</strong></p>
            <p>Opciones calientes y frías diseñadas para adaptarse a tu ritmo y tu día.</p>
          </div>
        </div>
      </div>
      <div class="col-6 mt-3 mt-md-0 offset-md-0 col-md-3">
        <div class="card-whyus text-center shadow-sm p-4 rounded bg-white!">
          <img src="/web/image/1744-cdd2c192/enoricon-68.svg" alt="enoricon-sin-prisa" class="w-auto h-[50px]! object-cover onject-center m-auto my-3" />
          <div class="text">
            <p><strong>Una experiencia que se <br /> disfruta sin prisa</strong></p>
            <p>Cuidamos cada detalle para que cada visita se sienta especial.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
