<section id="enorganico-carta-adbanner" class="enorganico-carta-adbanner bg-[#F0EEEA]! s_title o_colored_level oe_img_bg o_bg_img_center o_bg_img_origin_border_box" data-vcss="001" data-snippet="s_title" data-name="Título" data-attachment-id="1721" data-format-mimetype="image/webp" data-original-id="1721" data-mimetype-before-conversion="image/png" data-resize-width="1920" data-mimetype="image/webp">
  <div class="s_allow_columns container-fluid px-0">
    <div class="row">
      <div class="col-12">
        <picture>
          <source media="(max-width: 767px)" srcset="https://enorganico.odoo.com/web/image/1724-0bfff20a/ad-banner-1-2.webp" />
          <img src="https://enorganico.odoo.com/web/image/1722-76fbe655/ad-banner-1.webp" alt="Descripción de la imagen" class="w-full h-full object-cover object-center" />
        </picture>
      </div>
    </div>
  </div>
</section>
