---
import icon1 from "/public/icons/enoricon-100.svg";
---

<section id="enorganico-carta-whyus" class="enorganico enorganico-carta-whyus py-[5rem]!">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-2xl! md:text-5xl! font-black! uppercase text-(--enorganico-primary-color)!">¿Por que Elegirnos?</h1>
        <p class="text-base w-50 m-auto">Una experiencia pensada para quienes valoran la calidad, los detalles y los sabores auténticos en cada elección.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="offset-1 col-10 offset-md-0 col-md-4">
        <div class="card-whyus">
          <div class="enoricon"></div>
          <div class="text">
            <p><strong>Café de especialidad</strong></p>
            <p>Granos de origen cuidadosamente seleccionados y preparados para resaltar sus perfiles únicos.</p>
          </div>
        </div>
      </div>
      <div class="offset-1 col-10 offset-md-0 col-md-4">
        <div class="card-whyus">
          <div class="enoricon">
            <img src="#" alt="icon-" class="img img-fluid w-full h-full object-cover object-center" />
          </div>
          <div class="text">
            <p><strong>Matcha de calidad superior</strong></p>
            <p>Bebidas equilibradas, suaves y llenas de carácter, elaboradas con matcha seleccionado.</p>
          </div>
        </div>
      </div>
      <div class="offset-1 col-10 offset-md-0 col-md-4">
        <div class="card-whyus">
          <div class="enoricon">
            <img src="#" alt="icon-" class="img img-fluid w-full h-full object-cover object-center" />
          </div>
          <div class="text">
            <p><strong>Panadería artesanal</strong></p>
            <p>Piezas horneadas con dedicación, ideales para acompañar cada sorbo.</p>
          </div>
        </div>
      </div>
      <div class="offset-1 col-10 offset-md-0 col-md-4">
        <div class="card-whyus">
          <div class="enoricon">
            <img src="#" alt="icon-" class="img img-fluid w-full h-full object-cover object-center" />
          </div>
          <div class="text">
            <p><strong>Ingredientes naturales</strong></p>
            <p>Priorizamos insumos frescos y de calidad, respetando el sabor real de cada producto.</p>
          </div>
        </div>
      </div>
      <div class="offset-1 col-10 offset-md-0 col-md-4">
        <div class="card-whyus">
          <div class="enoricon">
            <img src="#" alt="icon-" class="img img-fluid w-full h-full object-cover object-center" />
          </div>
          <div class="text">
            <p><strong>Variedad para cada momento</strong></p>
            <p>Opciones calientes y frías diseñadas para adaptarse a tu ritmo y tu día.</p>
          </div>
        </div>
      </div>
      <div class="offset-1 col-10 offset-md-0 col-md-4">
        <div class="card-whyus">
          <div class="enoricon">
            <img src="#" alt="icon-" class="img img-fluid w-full h-full object-cover object-center" />
          </div>
          <div class="text">
            <p><strong>Una experiencia que se disfruta sin prisa</strong></p>
            <p>Cuidamos cada detalle para que cada visita se sienta especial.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
