@use '../abstracts/variables' as *;

/* Header */

header#top {
  position: fixed;
  width: 100%;

  nav.navbar.navbar-light.o_colored_level.o_cc.d-none.d-lg-block.shadow-sm,
  nav.navbar.navbar-light.o_colored_level.o_cc.o_header_mobile.d-block.d-lg-none.shadow-sm {
    background-color: transparent !important;
  }
}

.navbar-toggler-icon {
  background-image: none !important;
  mask: none !important;
}

.o_header_mobile {

  i,
  svg {
    &::before {
      font-size: clamp(2rem, 2.5vw, 1.25rem);
      line-height: 100%;
      color: var(--enorganico-primary-color);
    }
  }
}

// Fixed wiothou scroll in the element
.o_no_autohide_menu {

  &.o_header_is_scrolled.o_header_affixed {

    nav.navbar.navbar-light.o_colored_level.o_cc.d-none.d-lg-block.shadow-sm {
      background-color: transparent !important;
    }

    // Mobile
    .o_header_mobile {

      i,
      svg {
        &::before {
          font-size: clamp(2rem, 2.5vw, 1.25rem);
          line-height: 100%;
          color: var(--enorganico-secondary-color);
        }
      }
    }
  }

  // Mobile
  nav.navbar.navbar-light.o_colored_level.o_cc.o_header_mobile.d-block.d-lg-none.shadow-sm {
    .o_main_nav.container.flex-wrap.justify-content-between {
      .d-flex.flex-grow-1 {
        justify-content: center;

        a.navbar-brand.logo {
          span {
            img {
              width: 100px;
              max-height: 75px !important;
              height: 75px;
              margin-left: 25%;
            }
          }
        }

        ul.o_header_mobile_buttons_wrap.navbar-nav.d-flex.flex-row.align-items-center.gap-2.mb-0.ms-auto {
          display: none !important;
        }
      }
    }
  }
}

ul.o_header_hamburger_right_col {
  li {
    a {
      border-radius: 50px !important;
      padding: 5px 10px !important;

      &::after {
        color: var(--enorganico-secondary-color);
      }

      i,
      svg {
        width: auto !important;
        height: auto !important;

        &::before {
          font-size: clamp(1rem, 2.5vw, 1.25rem);
          line-height: 100%;
          color: var(--enorganico-primary-color);
        }
      }
    }
  }
}

#wrapwrap.o_header_overlay>header:not(.o_header_affixed):not(.o_header_sidebar):not(.o_top_menu_collapse_shown)>.navbar {

  button {
    background-image: none !important;
    mask: none !important;
    box-shadow: unset !important;

    .navbar-toggler-icon {
      &::before {
        background: var(--enorganico-primary-color);
        box-shadow:
          0 calc(-1 * var(--enorganico-hamburguer-gap)) 0 0 var(--enorganico-primary-color),
          0 var(--enorganico-hamburguer-gap) 0 0 var(--enorganico-primary-color);
      }
    }
  }

  ul.o_header_hamburger_right_col {
    li {
      a {
        border-radius: 50px !important;
        padding: 5px 20px !important;

        &::after {
          color: var(--enorganico-primary-color);
        }

        i,
        svg {
          width: auto !important;
          height: auto !important;

          &::before {
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            line-height: 100%;
            color: var(--enorganico-primary-color);
          }
        }

        ~.dropdown-menu {
          padding: 1rem .5rem;

          .dropdown-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: .75rem;
            line-height: 0.75rem;

            i,
            svg {
              width: 30px !important;
              color: var(--enorganico-primary-color);
            }
          }
        }
      }
    }
  }
}

.navbar-toggler:focus {
  box-shadow: unset !important;
}

/* ================================================================================================================ */
/* ======================================== Orden Visual del Menu ================================================= */
/* ================================================================================================================ */

/* Contenedor del Header principal en Desktop */
div#o_main_nav.o_main_nav.d-grid.py-0.o_grid_header_3_cols.container-fluid {
  display: flex !important;
  align-items: center;
  justify-content: space-between;

  /* Logo de Enorganico */
  >a.navbar-brand.logo.mw-100.mx-auto {
    order: 1;
    display: block;
    margin-right: auto !important;
    margin-left: 0 !important;
    position: relative;

    span {
      position: absolute;
      top: 3rem;
      left: 0;
      width: 150px;
      margin-left: 2rem;
      transform: translate(0%, -50%);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  /* Boton Hamburguesa */
  >button.navbar-toggler.btn.me-auto.p-2.o_not_editable {
    order: 3;
    margin-right: 2rem !important;
    margin-left: 2rem;
  }

  /* Contenedor de los Iconos del Header */
  >ul.o_header_hamburger_right_col.navbar-nav.flex-row.gap-2.align-items-center.ms-auto {
    order: 2;
    margin-left: unset !important;

    li:has(a[href="/web/login"]) {
      background-color: var(--enorganico-primary-color) !important;
      border-radius: 50px !important;
    }
  }
}

/* ================================================================================================================ */
/* ===================================================== Footer =================================================== */
/* ================================================================================================================ */

/* Footer */
#bottom {
  display: block;
  visibility: visible;
  opacity: 1;
  position: relative;
  z-index: 100 !important;
  width: 100%;
  height: auto;
  min-height: 100px;

  span {
    color: var(--enorganico-primary-color);
  }
}