// abstracts
@use 'abstracts/mixins';
@use 'abstracts/variables';
@use 'abstracts/maps';
@use 'abstracts/loops';

// base
@use 'base/reset';

// components
@use 'components/buttons';
@use 'components/carousel';
@use 'components/hamburguer-btn';

// === Pages ===
// Home
@use 'pages/home/home-s1';
@use 'pages/home/home-s2';
@use 'pages/home/home-s3';
@use 'pages/home/home-s4';
@use 'pages/home/home-s5';
@use 'pages/home/home-s6';
@use 'pages/home/home-s7';
@use 'pages/home/home-s8';
// Menu
@use 'pages/menu/menu-s1';


// Themes
@use "themes/enorganico";

// Vendors
@use "vendors/odoo";