// abstracts
@use 'abstracts/mixins';
@use 'abstracts/variables';
@use 'abstracts/maps';
@use 'abstracts/loops';

// base
@use 'base/reset';

// components
@use 'components/buttons';
@use 'components/carousel';
@use 'components/hamburguer-btn';

// === Pages ===
// Home
@use 'pages/home/section-1';
@use 'pages/home/section-2';
@use 'pages/home/section-3';
@use 'pages/home/section-4';
@use 'pages/home/section-5';
@use 'pages/home/section-6';
@use 'pages/home/section-7';

// Themes
@use "themes/enorganico";

// Vendors
@use "vendors/odoo";