<section id="enorganico-yoguricioso" class="s_sidegrid o_colored_level o_cc o_cc2 pb0 pt0" data-snippet="s_sidegrid" data-name="Cuadrícula lateral">
  <div class="container">
    <div class="row align-items-center o_grid_mode" data-row-count="12">
      <div class="o_grid_item o_colored_level g-col-lg-6 g-height-10 col-lg-6" style="z-index: 1; grid-area: 3 / 7 / 13 / 13; --grid-item-padding-x: 24px;">
        <p>Conoce nuestro</p>
        <h1>YOGURICIOSO</h1>
        <p>Ligero, cremoso y naturalmente refrescante. Nuestro yogur helado, elaborado con ingredientes de alta calidad cada día, ofrece una textura cremosa y un sabor suave. Una propuesta fresca y reconfortante, perfecta para disfrutar sola o acompañada de tus toppings favoritos.</p>
        <strong>
          <i>Natural. Cremoso. Hecho cada día.</i>
        </strong>
        <a href="/toppings" class="d-inline-flex align-items-center mt32 btn btn-primary">
          <span>Nuestros toppings</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
          </svg>
        </a>
      </div>
      <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible d-lg-block o_colored_level g-height-9 g-col-lg-3 col-lg-3" style="z-index: 5; grid-area: 2 / 4 / 11 / 7;" data-invisible="1">
        <img src="/web/image/1709-07acbcbb/imagen-1.webp" alt="" data-attachment-id="1572" class="img img-fluid o_we_custom_image rounded" data-format-mimetype="image/webp" data-original-id="1572" data-original-src="/web/image/1572-b1cfad7d/seccion-3-2-upscale.png" data-mimetype-before-conversion="image/png" data-resize-width="665" data-mimetype="image/webp" />
      </div>
      <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible d-lg-block d-none o_colored_level g-height-8 g-col-lg-4 col-lg-4" style="z-index: 4; grid-area: 4 / 1 / 12 / 5;" data-invisible="1">
        <img src="/web/image/1529-b3ac251e/seccion-3-1.webp" alt="" data-attachment-id="1527" class="img img-fluid rounded o_we_custom_image" data-format-mimetype="image/webp" data-original-id="1527" data-original-src="/web/image/1527-5ed6d8bd/seccion-3-1.jpg" data-mimetype-before-conversion="image/jpeg" data-resize-width="690" data-mimetype="image/webp" loading="lazy" />
      </div>
    </div>
  </div>
</section>

{import.meta.env.DEV && (
  <style lang="scss">
    section.s_sidegrid.o_colored_level.o_cc.o_cc2.pb0.pt0 {
      padding-block: 7rem;
      .row {
        display: flex;
        flex-direction: row-reverse;

        .o_grid_item_image:first-child {
          position: absolute;
          width: 10%;
        }
      }

      p ~ strong {
        margin-bottom: 1rem;
      }

      .btn-primary {
        background-color: var(--enorganico-primary-color);
        border: none;
        border-radius: 50px;
        width: auto;
        min-width: 300px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--enorganico-secondary-color);
        font-weight: 900;
      }

      .o_grid_item.o_grid_item_image.o_snippet_mobile_invisible:last-child {
        position: absolute;
        left: 15%;
        max-width: 30%;
      }
    }
  </style>
)}
