<section class="s_timeline pt48 pb48 o_colored_level o_cc o_cc2" data-vcss="002" data-snippet="s_timeline" data-name="Línea de tiempo">
  <div class="container">
    <h1 style="text-align: center; font-size: 4rem; line-height: 4rem; font-weight: 900; color: var(--enorganico-secondary-color)">SmashWaffles</h1>
    <p style="font-size: 1rem; text-transform: uppercase; font-weight: 300; text-align: center;">Descubre cómo los preparamos</p>
    <style>
      .s_timeline_content {
        position: relative;

        span[data-step-before]::before {
          position: absolute;
          content: attr(data-step-before);
          top: 0;
          left: 0;
          transform: translate(0%, 0%);
          font-size: 10rem;
          line-height: 10rem;
          font-weight: 900;
          color: var(--enorganico-secondary-color);
          opacity: 0.1;
        }
      }
      .s_timeline_row {
        margin-block: 3rem;
      }
    </style>
    <div class="position-relative pt-3">
      <div class="s_timeline_row position-relative d-flex align-items-center gap-md-5 flex-column flex-md-row pb-4" data-name="Milestone">
        <div class="s_timeline_content w-100 ps-4 ps-md-0">
          <div class="s_timeline_card s_card card my-0 ms-auto o_colored_level text-md-end" style="border-width: 0px !important;" data-vxml="001" data-snippet="s_card" data-name="Milestone Event">
            <div class="card-body">
              <span data-step-before="01"></span>
              <h3 style="font-size: 2rem; line-height: 2rem; font-weight: 700; color: var(--enorganico-secondary-color)">La masa</h3>
              <p>No partimos de recetas industriales ni mezclas prefabricadas.</p>
              <p>Nuestra masa se elabora con ingredientes seleccionados, buscando una textura equilibrada: suave por dentro, con cuerpo y sabor real.</p>
              <p>
                Es una masa pensada para ser
                <strong>aplastada</strong>, no
                <strong>inflada</strong>, lo que le da su identidad única.
              </p>
            </div>
          </div>
        </div>
        <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible d-lg-block o_colored_level g-col-lg-4 g-height-8 col-lg-4" style="z-index: 4; grid-area: 4 / 1 / 12 / 5;" data-invisible="1">
          <img src="/web/image/1476-fb0da9aa/seccion-4-1.webp" alt="" data-attachment-id="1475" class="img img-fluid rounded o_we_custom_image" style="max-height: 40vh; object-fit: cover; object-position: center center; height: auto !important;" data-format-mimetype="image/webp" data-original-id="1475" data-original-src="/web/image/1475-09cec044/seccion-4-1.png" data-mimetype-before-conversion="image/png" data-resize-width="690" data-mimetype="image/webp" loading="lazy" />
        </div>
      </div>
      <div class="s_timeline_row position-relative d-flex align-items-center gap-md-5 flex-column flex-md-row pb-4" data-name="Milestone">
        <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible order-1 order-md-0 d-lg-block o_colored_level g-col-lg-4 g-height-8 col-lg-4" style="z-index: 4; grid-area: 4 / 1 / 12 / 5;" data-invisible="1">
          <img src="/web/image/1478-f9db5481/seccion-4-2.webp" alt="" data-attachment-id="1477" class="img img-fluid rounded o_we_custom_image" style="max-height: 40vh; object-fit: cover; object-position: center center; height: auto !important;" data-format-mimetype="image/webp" data-original-id="1477" data-original-src="/web/image/1477-e1e67e34/seccion-4-2.png" data-mimetype-before-conversion="image/png" data-resize-width="690" data-mimetype="image/webp" loading="lazy" />
        </div>
        <div class="s_timeline_content w-100 ps-4 ps-md-0">
          <div class="s_timeline_card s_card card my-0 ms-auto o_colored_level text-md-end" style="border-width: 0px !important;" data-vxml="001" data-snippet="s_card" data-name="Milestone Event">
            <div class="card-body">
              <span data-step-before="02"></span>
              <h3 style="font-size: 2rem; line-height: 2rem; font-weight: 700; color: var(--enorganico-secondary-color)">El prensado</h3>
              <p>
                <strong>Aquí ocurre la magia.</strong>
              </p>
              <p>
                La masa se prensa directamente en la plancha caliente, creando un waffle fino,

                <strong>compacto</strong> y

                <strong>crujiente</strong>, muy distinto al waffle clásico americano.
              </p>
              <p>Este proceso permite que el exterior quede dorado y caramelizado, mientras el interior mantiene suavidad y carácter.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="s_timeline_row position-relative d-flex align-items-center gap-md-5 flex-column flex-md-row pb-4" data-name="Milestone">
        <div class="s_timeline_content w-100 ps-4 ps-md-0">
          <div class="s_timeline_card s_card card my-0 ms-auto o_colored_level text-md-end" style="border-width: 0px !important;" data-vxml="001" data-snippet="s_card" data-name="Milestone Event">
            <div class="card-body">
              <span data-step-before="03"></span>
              <h3 style="font-size: 2rem; line-height: 2rem; font-weight: 700; color: var(--enorganico-secondary-color)">El horneado</h3>
              <p>Cada Smashwaffle se cocina lentamente hasta alcanzar el punto exacto.</p>
              <p>Ni demasiado blando, ni excesivamente seco.</p>
              <p>Buscamos ese equilibrio donde el aroma, el color y la textura hablan por sí solos.</p>
            </div>
          </div>
        </div>
        <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible d-lg-block o_colored_level g-col-lg-4 g-height-8 col-lg-4" style="z-index: 4; grid-area: 4 / 1 / 12 / 5;" data-invisible="1">
          <img src="/web/image/1482-9ff341b5/Seccion-4-3.webp" alt="" data-attachment-id="1481" class="img img-fluid rounded o_we_custom_image" style="max-height: 40vh; object-fit: cover; object-position: center center; height: auto !important;" data-format-mimetype="image/webp" data-original-id="1481" data-original-src="/web/image/1481-715b8345/Seccion-4-3.png" data-mimetype-before-conversion="image/png" data-resize-width="690" data-mimetype="image/webp" />
        </div>
      </div>
      <div class="s_timeline_row position-relative d-flex align-items-center gap-md-5 flex-column flex-md-row pb-4" data-name="Milestone">
        <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible order-1 order-md-0 d-lg-block o_colored_level g-col-lg-4 g-height-8 col-lg-4" style="z-index: 4; grid-area: 4 / 1 / 12 / 5;" data-invisible="1">
          <img src="/web/image/1480-fef8e3e2/Seccion-4-4.webp" alt="" data-attachment-id="1479" class="img img-fluid rounded o_we_custom_image" style="max-height: 40vh; object-fit: cover; object-position: center center; height: auto !important;" data-format-mimetype="image/webp" data-original-id="1479" data-original-src="/web/image/1479-e03aa73c/Seccion-4-4.png" data-mimetype-before-conversion="image/png" data-resize-width="690" data-mimetype="image/webp" data-quality="100" loading="lazy" />
        </div>
        <div class="s_timeline_content w-100 ps-4 ps-md-0">
          <div class="s_timeline_card s_card card my-0 ms-auto o_colored_level text-md-end" style="border-width: 0px !important;" data-vxml="001" data-snippet="s_card" data-name="Milestone Event">
            <div class="card-body">
              <span data-step-before="04"></span>
              <h3 style="font-size: 2rem; line-height: 2rem; font-weight: 700; color: var(--enorganico-secondary-color)">El toque final</h3>
              <p>
                <strong>Se sirve recién hecho, solo o acompañado de toppings seleccionados.</strong>
              </p>
              <p>Porque creemos que un buen producto no necesita esconderse detrás de excesos:</p>
              <p>
                <i>cuando la base es buena, todo lo demás suma.</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
