---
import bgVideo2_mp4 from '../../assets/videos/bg-video-2.mp4';
import bgVideo2_webm from '../../assets/videos/bg-video-2.webm';
import bgVideo2_avif from '../../assets/videos/bg-video-2.avif';
import bgVideo2_mov from '../../assets/videos/bg-video-2.mov';
---

<section id="hero" class="enorganico enorganico-hero">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-12 position-relative before:position-absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:w-full before:h-full before:bg-black/75">
        <picture>
          <video webkit-playsinline="" playsinline="" autoplay="" muted="" loop="" class="enorganico-hero__video">
            <source src={bgVideo2_avif} type="video/avif">
            <source src={bgVideo2_mp4} type="video/mp4">
            <source src={bgVideo2_webm} type="video/webm">
            <source src={bgVideo2_mov} type="video/mov">
          </video>
        </picture>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .enorganico {
    &#hero {
      width: auto;
      max-width: 100vw;
      overflow-x: hidden;
      position: relative;
    }

    &-hero {
      height: auto;
      min-height: 100vh;
      max-height: 100vh;
      overflow: hidden;
      video {
        width: auto;
        min-width: 100%;
        height: 100vh;
        object-fit: cover;
      }

      &__content {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(20%, -50%);
        text-align: center;
        z-index: 1;
      }
    }
  }
</style>