<section id="enorganico-brownie" class="enorganico-brownie relative overflow-hidden pt-[3rem]! pb-[5rem]!">
  <div class="container">
    <div class="row d-flex align-items-center rounded-2xl overflow-hidden relative h-[40vh] p-3">
      <a href="#" class="absolute top-0 left-0 right-0 bottom-0 w-[100%] h-[100%] hover:border hover:border-(--enorganico-secondary-color) z-10"></a>
      <div class="brownie-is-img col-12 col-md-6 h-[35vh] overflow-hidden rounded-3xl">
        <img src="/web/image/1556-aaac57e6/brownie-wood.webp" alt="brownie-infinite-slider" title="Gluten Free Chocolate Brownie" class="img img-fluid object-center object-cover min-h-[150%] will-change-transform" />
      </div>
      <div class="brownie-is-content col-12 col-md-6 mt-3 mt-md-0">
        <h1 class="text-6xl! font-black! text-(--enorganico-secondary-color)! opacity-50">Gluten-Free Chocolate Brownie</h1>
        <p>Brownie de chocolate tierno y lleno de sabor, pensado para disfrutarse sin excepciones. Elaborado sin gluten, mantiene una textura suave y reconfortante, ideal para quienes buscan una opción inclusiva sin renunciar al placer. Personalízalo con tus toppings favoritos y hazlo tan especial como tú quieras.</p>
        <p><strong><u><i>Un placer pensado para todos.</i></u></strong></p>
      </div>
    </div>
  </div>
</section>
