<section id="post" class="enorganico enorganico-post w-full md:h-screen py-10">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="offset-md-1 col-12 col-md-10 offset-md-1">
        <h2 class="text-base! md:text-2xl! block max-w-[100%] enorganico-text-secondary enorganico-font-weight-blacked m-auto pt-25! text-center uppercase">Ultimos Posts</h2>

        <ul class="enorganico-post__list d-flex flex-column mt-6 pt-25! px-3 px-md-0">
          <li class="enorganico-post__list--item list-none">
            <a href="#" class="enorganico-post__list--item-link text-">
              <span class="text-start block">Guía definitiva: Cómo pedir tu café en España y acertar siempre</span>
              <img class="img img-fluid" src="/web/image/1189-0857dc05/gallery-1.webp" alt="gallery-image" />
            </a>
          </li>
          <li class="enorganico-post__list--item list-none">
            <a href="#" class="enorganico-post__list--item-link text-">
              <span class="text-start block">De la finca a tu taza: El viaje de los granos que usamos para nuestro café exprés.</span>
              <img class="img img-fluid" src="/web/image/1199-57cb4aaf/gallery-2.webp" alt="gallery-image" />
            </a>
          </li>
          <li class="enorganico-post__list--item list-none">
            <a href="#" class="enorganico-post__list--item-link text-">
              <span class="text-start block">Más allá del desayuno: 3 momentos del día perfectos para disfrutar de un buen espresso.</span>
              <img class="img img-fluid" src="/web/image/1205-bc5c8277/gallery-3.webp" alt="gallery-image" />
            </a>
          </li>
          <li class="enorganico-post__list--item list-none">
            <a href="#" class="enorganico-post__list--item-link text-">
              <span class="text-start block">El arte del barista: 5 razones para tomar tu café en nuestra cafetería y no en casa.</span>
              <img class="img img-fluid" src="/web/image/1194-d8f3fa7c/gallery-4.webp" alt="gallery-image" />
            </a>
          </li>
          <li class="enorganico-post__list--item list-none">
            <a href="#" class="enorganico-post__list--item-link text-">
              <span class="text-start block">Expresso y salud: Mitos y verdades sobre el café que (probablemente) no sabías.</span>
              <img class="img img-fluid" src="/web/image/1209-0775c748/enorganico%201.webp" alt="gallery-image" />
            </a>
          </li>
          <li class="enorganico-post__list--item list-none">
            <a href="#" class="enorganico-post__list--item-link text-">
              <span class="text-start block">¿Por qué el café de especialidad de tu barrio sabe mejor? El secreto detrás de nuestro espresso.</span>
              <img class="img img-fluid" src="/web/image/1192-b702b0a2/gallery-7.webp" alt="gallery-image" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
