<section id="enorganico-brownie" class="enorganico-brownie">
  <div class="container">
    <a href="#">
      <div class="row rounded-sm overflow-hidden">
        <div class="col-10 offset-1 col-md-6 col-lg-8">
          <picture>
            <img src="" alt="" class="img img-fluid w-100 h-auto" />
          </picture>
        </div>
        <div class="col-10 offset-1 col-md-6 col-lg-4">
          <h1 class="display-3">Gluten-Free Chocolate Brownie</h1>
          <p class="">Brownie de chocolate tierno y lleno de sabor, pensado para disfrutarse sin excepciones. Elaborado sin gluten, mantiene una textura suave y reconfortante, ideal para quienes buscan una opción inclusiva sin renunciar al placer. Personalízalo con tus toppings favoritos y hazlo tan especial como tú quieras.</p>
          <p><strong><u><i>Un placer pensado para todos.</i></u></strong></p>
        </div>
      </div>
    </a>
  </div>
</section>
