<section class="s_timeline pt48 pb48 o_colored_level o_cc o_cc2" data-vcss="002" data-snippet="s_timeline" data-name="Línea de tiempo">
  <div class="container">
    <h1 class="text-center text-6xl! leading-[4rem] font-black! text-(--enorganico-secondary-color)! opacity-50 uppercase">SmashWaffles</h1>
    <p class="text-md uppercase font-normal text-center">Descubre cómo los preparamos</p>
    <p class="text-md font-normal text-center w-50 m-auto">Se aplastan para lograr esa textura fina y dorada que se funde en cada bocado. Un placer perfecto para cualquier momento del día, siempre recién hecho.</p>
    <div class="position-relative pt-3">
      <!-- Paso 1 -->
      <div class="s_timeline_row position-relative d-flex align-items-center gap-md-5 flex-column flex-md-row pb-4" data-name="Milestone">
        <div class="s_timeline_content w-100 ps-4 ps-md-0">
          <div class="s_timeline_card s_card card my-0 ms-auto o_colored_level text-md-end" style="border-width: 0px !important;" data-vxml="001" data-snippet="s_card" data-name="Milestone Event">
            <div class="card-body">
              <span data-step-before="01"></span>
              <h3 style="font-size: 2rem; line-height: 2rem; font-weight: 700; color: var(--enorganico-secondary-color)">La masa</h3>
              <p>Nuestros smashwaffles elaborados al momento, con ingredientes holandeses de primera calidad, cuidadosamente medidos para lograr la textura perfecta.</p>
            </div>
          </div>
        </div>
        <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible d-lg-block o_colored_level g-col-lg-4 g-height-8 col-lg-4" style="z-index: 4; grid-area: 4 / 1 / 12 / 5;" data-invisible="1">
          <img src="/web/image/1697-8304e0b6/imagen-1.webp" alt="" data-attachment-id="1475" class="img img-fluid rounded o_we_custom_image" style="max-height: 40vh; object-fit: cover; object-position: center center; height: auto !important;" data-format-mimetype="image/webp" data-original-id="1475" data-original-src="/web/image/1475-09cec044/seccion-4-1.png" data-mimetype-before-conversion="image/png" data-resize-width="690" data-mimetype="image/webp" loading="lazy" />
        </div>
      </div>

      <!-- Paso 2 -->
      <div class="s_timeline_row position-relative d-flex align-items-center gap-md-5 flex-column flex-md-row pb-4" data-name="Milestone">
        <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible order-1 order-md-0 d-lg-block o_colored_level g-col-lg-4 g-height-8 col-lg-4" style="z-index: 4; grid-area: 4 / 1 / 12 / 5;" data-invisible="1">
          <img src="/web/image/1699-1093633a/imagen-2.webp" alt="" data-attachment-id="1477" class="img img-fluid rounded o_we_custom_image" style="max-height: 40vh; object-fit: cover; object-position: center center; height: auto !important;" data-format-mimetype="image/webp" data-original-id="1477" data-original-src="/web/image/1477-e1e67e34/seccion-4-2.png" data-mimetype-before-conversion="image/png" data-resize-width="690" data-mimetype="image/webp" loading="lazy" />
        </div>
        <div class="s_timeline_content w-100 ps-4 ps-md-0">
          <div class="s_timeline_card s_card card my-0 ms-auto o_colored_level text-md-end" style="border-width: 0px !important;" data-vxml="001" data-snippet="s_card" data-name="Milestone Event">
            <div class="card-body">
              <span data-step-before="02"></span>
              <h3 style="font-size: 2rem; line-height: 2rem; font-weight: 700; color: var(--enorganico-secondary-color)">El prensado</h3>
              <p>Aplastamos cada waffle para lograr esa textura fina. Crujiente y caramelizado por fuera, suave por dentro.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Paso 3 -->
      <div class="s_timeline_row position-relative d-flex align-items-center gap-md-5 flex-column flex-md-row pb-4" data-name="Milestone">
        <div class="s_timeline_content w-100 ps-4 ps-md-0">
          <div class="s_timeline_card s_card card my-0 ms-auto o_colored_level text-md-end" style="border-width: 0px !important;" data-vxml="001" data-snippet="s_card" data-name="Milestone Event">
            <div class="card-body">
              <span data-step-before="03"></span>
              <h3 style="font-size: 2rem; line-height: 2rem; font-weight: 700; color: var(--enorganico-secondary-color)">El toque final</h3>
              <p>La magia sucede cuando eliges hacerlo tuyo. Cuando la base es buena, todo lo demás suma.</p>
            </div>
          </div>
        </div>
        <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible order-1 order-md-0 d-lg-block o_colored_level g-col-lg-4 g-height-8 col-lg-4" style="z-index: 4; grid-area: 4 / 1 / 12 / 5;" data-invisible="1">
          <img src="/web/image/1698-e892884b/imagen-3.webp" alt="" data-attachment-id="1479" class="img img-fluid rounded o_we_custom_image" style="max-height: 40vh; object-fit: cover; object-position: center center; height: auto !important;" data-format-mimetype="image/webp" data-original-id="1479" data-original-src="/web/image/1479-e03aa73c/Seccion-4-4.png" data-mimetype-before-conversion="image/png" data-resize-width="690" data-mimetype="image/webp" data-quality="100" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
</section>
