<section id="enorganico-infinite-slider" class="enorganic-infinite-slider">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-12">
        <div class="enorganico-slider">
          <div class="enorganico-slider__track">
            <div class="enorganico-slider__track--item item-slider">
              <span>Despierta tus sentidos</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Cafe de origen Colombiano 100%</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Sabores que te haran volver</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Matcha Ecologico 100%</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Bienestar en cada taza</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Suscribete y conoceras los beneficios</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Productos hechos cada dia</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Opciones sin gluten</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Calidad y sabore que inspiran</span>
            </div>
            <div class="enorganico-slider__track--item item-slider">
              <span>Experiencia unica en cada bocado</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  const track = document.querySelector(".enorganico-slider__track");
  const slides = Array.from(track.children);

  // Duplicar los slides para el efecto infinito
  slides.forEach((slide) => {
    const clone = slide.cloneNode(true);
    track.appendChild(clone);
  });
</script>
