<section class="s_sidegrid o_colored_level o_cc o_cc2 pt88 pb120" data-snippet="s_sidegrid" data-name="Cuadrícula lateral">
	<div class="container">
		<div class="row o_grid_mode" data-row-count="14">
			<div class="o_grid_item o_colored_level g-col-lg-6 g-height-13 col-lg-6" style="z-index: 1; grid-area: 2 / 7 / 15 / 13; --grid-item-padding-x: 24px;">
				<p style="font-size: 1rem; text-transform: uppercase; font-weight: 300;">Conoce nuestro</p>
				<h1 style="font-size: 7rem;font-weight: 900;line-height: 6rem !important;letter-spacing: -1px;word-spacing: 10px;margin-bottom: 2rem;color: var(--enorganico-secondary-color);opacity: .5;">YOGUR<br/>HELADO</h1>
				<p>Nuestro yogur helado se elabora cada mañana en pequeñas cantidades, cuidando cada detalle del proceso. Buscamos una textura suave y cremosa, un sabor equilibrado y una sensación fresca que se disfrute desde la primera cucharada.</p>
				<p>Trabajamos con ingredientes seleccionados, sin artificios innecesarios, respetando el producto y su origen. El resultado es un yogur helado ligero, natural y honesto, pensado para quienes valoran lo simple hecho bien.</p>
				<p>Perfecto para cualquier momento del día: como desayuno ligero, pausa de media tarde o un capricho consciente.</p>
				<strong style="display: block;"><i>Natural. Cremoso. Hecho cada día.</i></strong>
				<a href="#" class="btn btn-primary d-inline-flex align-items-center mt32" style="font-weight: 600;">
					<span style="text-transform: uppercase; margin-right: 1rem;">Descubrir sabores</span>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
					</svg>
				</a>
			</div>
			
			<div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible d-lg-block o_colored_level g-col-lg-3 g-height-9 col-lg-3" style="z-index: 5; grid-area: 2 / 4 / 11 / 7;" data-invisible="1">
				<img src="/web/image/1474-b6504ded/section-2-1.webp" alt="" data-attachment-id="1471" class="img img-fluid o_we_custom_image rounded" data-format-mimetype="image/webp" data-original-id="1471" data-original-src="/web/image/1471-08c4d97e/section-2-1.png" data-mimetype-before-conversion="image/png" data-resize-width="690" data-mimetype="image/webp" loading="lazy"/>
			</div>
			<div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible d-lg-block d-none o_colored_level g-col-lg-4 g-height-8 col-lg-4" style="z-index: 4; grid-area: 4 / 1 / 12 / 5;" data-invisible="1">
				<img src="/web/image/1473-2d01674f/section-2-2.webp" alt="" data-attachment-id="1472" class="img img-fluid rounded o_we_custom_image" data-format-mimetype="image/webp" data-original-id="1472" data-original-src="/web/image/1472-542171a3/section-2-2.jpg" data-mimetype-before-conversion="image/jpeg" data-resize-width="690" data-mimetype="image/webp" loading="lazy"/>
			</div>
			
		</div>
	</div>
</section>