.s_timeline_content {
  position: relative;

  span[data-step-before]::before {
    position: absolute;
    content: attr(data-step-before);
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    font-size: 10rem;
    line-height: 10rem;
    font-weight: 900;
    color: var(--enorganico-secondary-color);
    opacity: 0.1;
  }
}

.s_timeline_row {
  margin-block: 3rem;
}