@use '../../abstracts/maps' as *;
@use '../../abstracts/mixins' as *;

.enorganico {
  &#hero {
    width: auto;
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;
  }

  &-hero {
    height: auto;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;

    video {
      width: auto;
      min-width: 100%;
      height: 100vh;
      object-fit: cover;
    }

    &__content {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(20%, -50%);
      text-align: center;
      z-index: 1;
    }
  }

  picture {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 200%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
      background-size: cover;
      left: -100%;
    }
  }
}