---
// Sryles
import "../styles/main.scss";
import "../styles/global.css";

// Odoo Styles
// import "../styles/odoo-full-styles.css";

// Fonts
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/700.css";
import "@fontsource/montserrat/900.css";

// Bootstrap
import "bootstrap/dist/css/bootstrap.min.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Enorgánico - Preview Odoo</title>
  </head>
  <body class="overflow-x-hidden">
    <slot />

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Transformar rutas Odoo solo en desarrollo -->
    <script>
      if (window.location.hostname === "localhost" || window.location.hostname === "127.0.0.1") {
        document.addEventListener("DOMContentLoaded", () => {
          const BASE = "https://enorganico.odoo.com";

          // Imágenes
          document.querySelectorAll('img[src^="/web/"], img[src^="/shop/"]').forEach((img) => {
            img.src = BASE + img.getAttribute("src");
          });

          // Enlaces
          document.querySelectorAll('a[href^="/web/"], a[href^="/shop/"]').forEach((link) => {
            link.href = BASE + link.getAttribute("href");
          });
        });
      }
    </script>
  </body>
</html>
